[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".tmux/plugins/tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule ".tmux/plugins/tmux-yank"]
	path = .tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/bundle/vim-tmux"]
	path = .vim/bundle/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux
[submodule ".vim/bundle/neocomplete.vim"]
	path = .vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule ".vim/bundle/ag.vim"]
	path = .vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "src/the_silver_searcher"]
	path = src/the_silver_searcher
	url = https://github.com/ggreer/the_silver_searcher
[submodule "src/fzf"]
	path = src/fzf
	url = https://github.com/junegunn/fzf
[submodule "src/tmux"]
	path = src/tmux
	url = https://github.com/tmux/tmux
[submodule "src/vim"]
	path = src/vim
	url = https://github.com/vim/vim
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule ".vim/bundle/vim-ansible-yaml"]
	path = .vim/bundle/vim-ansible-yaml
	url = https://github.com/chase/vim-ansible-yaml
[submodule ".vim/bundle/gruvbox"]
	path = .vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
