[user]
	name = Daniel Collette
	email = dcollette@navicure.com
[color]
	ui = true
[alias]
	s = status
	a = !git add . && git s
	cm = commit -m
	pushit = push -u origin --all
	rmrf = rm -rf 
	mv = mv -v
