# Shortcuts

alias _="sudo"
alias g="git"
alias v="vim"
alias rr="rm -rf"

# dir listing/traversal
alias l="ls -lahA"
alias ll="ls -lA"
alias lt="ls -lhAtr"
alias ld="ls -ld */"

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
