# Shortcuts

alias _="sudo"
alias g="git"
alias v='vim $(fzf)'
alias agh='ag --hidden'
alias rr="rm -rf"

# dir listing/traversal
alias l="ls -lhAp"
alias ll="ls -lA"
alias lt="ls -lhAtr"
alias ld="ls -ld */"

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# tmux kill all sessions
alias tmuxkillall="tmux ls | cut -d : -f 1 | xargs -I {} tmux kill-session -t {}"

alias svnst="svn st | grep -E '^M|^A|^D'"

alias br=". ~/.bash_profile"
