# Make vim the default editor.
export EDITOR='vim';

# Go envs 
#export PATH=$PATH:/usr/local/go/bin
#export GOROOT=$HOME/go
#export PATH=$PATH:$GOROOT/bin
#export GOPATH=$HOME/work

# Git envs

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
